@charset "utf-8";

<style>
    @import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900|Karla:400,700&display=swap');
</style>



body {
    height: 100%;
    width:100%;
}



html {
    font-size: 10px;
}

.copertina{
    height: 100vh;
    background-color: #100f86;    
}

.white-bg{
    background-color: #ffffff;
}

/*      MARGINI     */

.margin-standard{
    margin: 24 0 24 0;
}

/*  TOP */
.top-80{
    margin-top: 80px;
}

.top-40{
    margin-top: 40px;
}

.top-32{
    margin-top: 32px;
}

/* BOTTOM */
.bottom-120{
    margin-bottom: 80px;
}

.bottom-80{
    margin-bottom: 80px;
}

.bottom-40{
    margin-bottom: 40px;
}

/*font*/

h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: normal;
    color: #100f86;
}

h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
}

.highlight-text{
    color: #ff7267;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.31;
    color: #ffffff;
    text-align: left;
}

h4{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

}

h5{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #100f86;    
}

h6{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: none;
    color: #ffffff;   
}

p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
    letter-spacing: normal;
    color: #100f86;
    padding-left: 0px;
}

/*      NAVBAR    */

.my-navbar{
    background-color: #100f86;
    height: 60px
    color: white;
    padding: 20px;
}

/*logo navbar */
#logo-nav{
    width: 90px;
    margin-left: 50px
}

/*navbar*/

.right-nav{
    margin-right: 50px;
}

.nav-link{
    color: #ffffff;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 60px;
    letter-spacing: 1.75px;
}

.nav-link:hover{
    color: #ff5958;
    font-weight: 500;
}

.my-btn-menu{
    background-color: transparent;
    color: #ffffff;
    border-color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 60px;
    letter-spacing: 1.75px;
    height: 40px;
    padding: 0 20 0 20;
    border-radius: 20px;
    width: 220px;
    transition: all .5s ease-in-out;
}


.my-btn-menu:before {
    content: url(../asset/svg/arrow-button-close.svg);
    margin-right: 8px;
 }

.my-btn-menu:hover{
    background-color: #ff5958;
    border-color: #ff5958;
    color: #ffffff;
}

.my-btn-menu:hover:before {
    content: url(../asset/svg/arrow-button-hover.svg);    
}

/*      COPERTINA       */
#logo-copertina{
    width: 367px;
    height: 139px;
}

.circle-div{
    margin-top: 5%;
    margin-left: 56px;
}

.circle{
    background: #180060;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    margin: 80 0 80 0
}

.circle-2{
    background: #6F6FB6;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    margin: 80 0 80 0;
    transition: all .6s ease-in-out;
   
}

#wolf:hover{
    content: url(../asset/svg/wolf.svg);
    transform: scale(1.5);
    
}

#fish:hover{
    content: url(../asset/svg/fish.svg);
    transform: scale(1.5);
      
}

#gorilla:hover{
    content: url(../asset/svg/gorilla.svg);
    transform: scale(1.5);
    
}

#arrow-copertina:hover{
    fill:red;
}

.arrow-copertina{
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-weight: 100;
    height: 40px;
    width: 40px;
    padding: 0px;
    font-size: 1.7rem;
    text-align: center;
    line-height: 80px;
    border-radius: 20px;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #100f86;
}

.arrow-copertina:hover{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #100f86;
    -webkit-text-stroke-color: #ffffff;
}

.arrow-copertina:focus{
    outline: 0;
}


/*      SLIDER      */
.swiper-container {
    width: 100%;
    height: 540px;
     
    }
.swiper-slide {
    text-align: left;
    font-size: 50px;
    background: #ff5958;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
    .swiper-slide:nth-child(1) {
    width: 960px;
    }
    .swiper-slide:nth-child(2n) {
    width: 960px;
    }
    .swiper-slide:nth-child(3n) {
    width: 960px;
    }

.swiper-text{
    padding:200px;
}
.text-slider{
    color: #ffffff;
}

.arrow-slider-1{
    
    background-color: #ff5958;
    color: #ffffff;
    font-weight: 100;
    height: 40px;
    width: 40px;
    padding: 0px;
    font-size: 1.7rem;
    text-align: center;
    margin: 0 2 0 2;    
    border-radius: 20px;
    border: 1px solid #ff5958;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #ff5958;
    transition: all .2s ease-in-out;
}

.arrow-slider-1:hover{
    transform: scale(1.14);
}

.arrow-slider-1:focus{
    outline: 0;
}

/*      VIDEO       */

#video-1{
    background-image: url("../asset/img/11A_01473.jpg");
}

.video-btn{
    height: 96px;
    width: 96px;
    border-radius: 60px;
    color: #ffffff;
    background: #ff5958;
    font-size: 5.0rem;
    transition: all .2s ease-in-out;
}

.play-video{    
   margin-left: 5px;
}

.video-btn:hover{    
    transform: scale(1.14);
    color: #ffffff;
}

/* MODALE - pop-up - */

.modal-dialog {
    max-width: 800px;
  }

.modal-body {
    position:relative;
    padding:0px;
}

.modal-backdrop {
    background-color: #6F6FB6;
    opacity:0.75 !important;
    
}

.close {
    position: absolute;
    right:-56px;
    top:-2;
    font-size: 2.5rem;
    color:#ffffff;    
    z-index: 100;
    opacity: 1;
}

.close-icon{
    height: 32px;
    width: 32px;
    font-size: 2.5rem;
    border-radius: 20px;
    background: #ff5958;
    padding-top: 4px;    
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #ff5958;
    transition: all .2s ease-in-out;
    z-index: 100;
}

.close-icon:hover, .close:hover{
    transform: scale(1.14);
    color: white;
    opacity:1.0 !important;
}


/*      SLIDER ESERCIZI     */

/*
.swiper-container-esercizi {
    width: 100%;
    height: 200px;
    
}
.swiper-slide-esercizi {
    text-align: left;
    font-size: 18px;
    background: #100f86!important;
    color: white;
    

       Center slide text vertically 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;    
}

    .swiper-slide-esercizi:nth-child(1) {
        width: 100%;
        }
    .swiper-slide-esercizi:nth-child(2n) {
    width: 100%;
    }
    .swiper-slide-esercizi:nth-child(3n) {
    width: 100%;
    }
    .swiper-slide-esercizi:nth-child(4n) {
    width: 100%;
    }
*/

/*      carousel esercizi       */
/* bottoni tab */

.btn{
    box-shadow: none !important;
}

.active a{
    color: #ff5958 !important;
    background: transparent !important;
}


.btn-esercizi a{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;      
    text-transform: uppercase;
    padding: 10px;
    margin-right: 20px;
    color: #100f86 !important;
    background: transparent;
    border: transparent;
    outline:0 !important;
    box-shadow: none;
    margin-bottom: 40px;
}

.btn-esercizi a:hover{
    color: #ff5958 !important;
    background: transparent !important;
    border: transparent !important;
    outline:0 !important;
    text-decoration: none;
}

.btn-esercizi:focus{
    color: #ff5958;
    background: transparent !important;
    outline:0;   
}

.swiper-container-2{
    background: #100f86;
    height: 700px;
}

/* botton avanti custom */



.label-prova{  
    /*position: absolute;*/
    margin-right:  20px;
    color: white;
    font-size: 30px;    
    text-align: center;
}


/* style scheda esercizi */

.h3-esercizio{
    color:#ff5958
}

.h1-esercizio{
    margin-top: 56px;
    color: #ffffff;
}

.p-esercizio{
    margin-top: 32px;
    color: #ffffff;       
}

/* cerchio */


#container {
    position: absolute;
    top: 50px;
    right: -500px;
    width: 600px;
    height: 600px;
    background: transparent;
    border-radius: 1000px;
    overflow: hidden;
    transform: rotate(90deg);
    cursor: pointer;
    transition: all .1s;
}

#label {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    height: 100%;
    top: -6%;
    transform: rotate(180deg);    
}
.ui-page-theme-a {
    text-shadow: none;
}
#labelbackground {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 600px;
    height: 220px;
    background: #12005c;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
}

#container:hover{
    right: -400px;
}

#container:hover:after {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 24%;
    left: 32%;
    transform: rotate(-90deg);       
    content: url(../asset/svg/group-58.svg);  
    z-index: 200;
}









