@charset "utf-8";

<style>
    @import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900|Karla:400,700&display=swap');
</style>


body {
    height: 100%;
    width:100%;  
}

html {
    font-size: 10px;
}

.copertina{
    height: 100vh;
}

/*navbar*/

.my-navbar{
    background-color: #100f86;
    height: 60px
    color: white;
    padding: 20px;
}

/*logo navbar */
#logo-nav{
    width: 90px;
    margin-left: 50px
}

/*navbar*/

.right-nav{
    margin-right: 50px;
}

.nav-link{
    color: #ffffff;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 60px;
    letter-spacing: 1.75px;
}

.my-btn-menu{
    background-color: transparent;
    color: #ffffff;
    border-color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 60px;
    letter-spacing: 1.75px;
    height: 40px;
    padding: 0 20 0 20;
    border-radius: 20px;
}


.my-btn-menu:before {
   content: url(../asset/svg/arrow-button-close.svg);
   width: 20px;
   margin-right: 5px;
   margin-top: -2px;
 }

.my-btn-menu:hover{
    background-color: #ff5958;
    border-color: #ff5958;
    color: #ffffff;
}

.my-btn-menu:hover:before {
    content: url(../asset/svg/arrow-button-hover.svg);
    
    
}


/*
.centered{
	position: fixed;
    top: 47%;
    left: 55%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

